#!/bin/bash
# roles/openvpn/templates/create-server-certificates.sh.j2
# {{ ansible_managed }}

cd {{ openvpn_easy_rsa_dir }}

source ./vars

./clean-all

./build-dh

./pkitool --initca
./pkitool --server server

cd keys

openvpn --genkey --secret ta.key
